@use "@angular/material" as mat;

mat-grid-list {
  margin-top: 1.5rem;
  width: 80%;
  display: flex;
  align-items: stretch;
  flex: 1;
  overflow: auto;
}

:host {
  width: 100%;
  height: 100%;
}

.no-assets-available {
  color: var(--hover-text-color);
}

.paginator-search-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mat.paginator-density(-5);
}
mat-paginator {
  margin-top: 1rem;
}

mat-form-field {
  width: 80%;
  @include mat.form-field-density(-5);
}
:host ::ng-deep mat-paginator .mat-mdc-paginator-container{
  justify-content: center !important;
}

:host ::ng-deep mat-paginator .mat-mdc-paginator-container .mat-mdc-paginator-range-label {
  margin: 0;
}

:host ::ng-deep .mat-mdc-form-field-bottom-align {
  height: 0px;
}
@media (min-width: 992px) {
  mat-paginator {
    width: unset;
    margin-top: unset;
  }

  mat-form-field {
    width: unset;
    flex-grow: unset;
  }

  .paginator-search-div {
    flex-direction: row;
    margin-bottom: 1.5rem;
  }
}

.search-placeholder-text {
  display: flex;
  align-items: center;
}

.search-placeholder-text mat-icon {
  font-size: 1.5rem;
}
