<div>
  <mat-form-field class="search-form-field" appearance="fill">
    <mat-label>Search Assets</mat-label>
    <input matInput [(ngModel)]="searchText" (keyup)="applyFilter()">
  </mat-form-field>
</div>
@if (dataSourceAssets$ | async; as assets) {
  <mat-grid-list [cols]="cols" rowHeight="140px" gutterSize="20px">
    @for (asset of assets; track asset.id) {
      <mat-grid-tile>
        <app-asset-card [assetData]="asset" [currencyId]="currencyId"></app-asset-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
} @else {
  <h1 class="no-assets-available">There are no assets available</h1>
}
<mat-paginator [length]="assets?.length" [pageSizeOptions]="[4,8,12,16]"></mat-paginator>

