@if (dataSourceAssets$ | async; as assets) {
  @if (!assets?.length) {
    <h1 class="no-assets-available">There are no assets available</h1>
  }
  <mat-grid-list [cols]="cols" rowHeight="140px" gutterSize="20px">
    @for (asset of assets; track asset.id) {
      <mat-grid-tile>
        <app-asset-card [assetData]="asset"></app-asset-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
}

<div class="paginator-search-div">
  @if (assets?.length) {
    <mat-form-field appearance="outline">
      <mat-label
        ><div class="search-placeholder-text"><mat-icon>search</mat-icon>Search Assets</div></mat-label
      >
      <input matInput [(ngModel)]="searchText" (keyup)="applyFilter()" />
    </mat-form-field>
  }
  @if (pageSizeAndPageOptions$ | async; as pageSizeAndPageOptions) {
    <mat-paginator
      [length]="assets?.length"
      [pageSize]="pageSizeAndPageOptions.pageSize"
      [pageSizeOptions]="pageSizeAndPageOptions.pageOptions"
    ></mat-paginator>
  }
</div>
