app-asset-grid-container {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  justify-self: end;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
}
.button-container {
  min-width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-symbol-button {
  display: block;
}

.aside {
  width: 20%;
  background-color: var(--gray-blue-color-lightest);
}
