<h3>Profiles</h3>
<mat-selection-list
  #profileIdsList
  [multiple]="false"
  color="primary"
  (selectionChange)="setProfileAsActive($event)"
  hideSingleSelectionIndicator
>
  @if (profiles$ | async; as profiles) {
    @for (profile of profiles; track profile.profileId) {
      <mat-list-option [value]="profile.profileId" [selected]="profile.isCurrent"
        ><div class="profile-option">
          {{ profile.name }}
          @if (!profile.isDefault) {
            <button
              class="remove-profile-button"
              matTooltip="Remove Profile"
              mat-raised-button
              color="warn"
              (click)="removeProfile(profile.profileId)"
            >
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete_forever"></mat-icon>
            </button>
          }</div
      ></mat-list-option>
    }
  }
</mat-selection-list>
<button class="add-profile-button" mat-raised-button (click)="addProfile()">Add Profile +</button>
