.add-profile-button {
  margin-left: 1rem;
}

.remove-profile-button {
  min-width: 0.2rem !important;
}

mat-list-option[aria-selected="true"] {
  background: var(--gray-blue-color-lighter);
}


.profile-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h3{
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0;
}

mat-icon {
  margin-right: 0 !important;
}
