<mat-toolbar color="primary" class="custom-spacer">
  <span>Crypto Tracker</span>
  <div>
    <span><mat-icon>currency_exchange</mat-icon></span>
    <button mat-button [matMenuTriggerFor]="menu">{{ currentCurrency }}</button>
    <mat-menu #menu>
      <div (click)="$event.stopPropagation()">
        <mat-form-field appearance="fill">
          <mat-label
            ><div><mat-icon>search</mat-icon>Search Currencies</div></mat-label
          >
          <input
            matInput
            [(ngModel)]="searchText"
            (keydown)="$event.stopPropagation()"
            (ngModelChange)="applyFilter($event)"
          />
        </mat-form-field>
      </div>
      @for (currency of dataSourceCurrencies$ | async; track currency.id) {
        <button (click)="setCurrency(currency)" mat-menu-item>{{ currency.symbol }}</button>
      }
      <div class="custom-paginator-wrapper" (click)="$event.stopPropagation()">
        <mat-paginator
          [length]="(currencies$ | async)?.data?.length"
          [pageSizeOptions]="[4, 8, 12, 16]"
        ></mat-paginator>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
