:host {
  width: 95%;
}
.crypto-icon-img {
  width: 40px;
  height: 40px;
}

.card-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  padding-top: 8px;
}

.card-lower {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

mat-card-header {
  padding: 0 8px;
}

mat-card-subtitle {
  font-size: 1rem;
}

mat-card-title.small-font {
  font-size: 16px;
}

@media (max-width: 992px) {
  mat-card-title.small-font {
    font-size: 16px;
    line-height: normal;
  }
}

