/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$custom-primary: mat.define-palette(mat.$cyan-palette, 800);
$custom-accent: mat.define-palette(mat.$orange-palette, A400, A200, A700);

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
    ),
  )
);

:root {
  --primary-color: #{mat.get-color-from-palette($custom-primary, 500)};
  --primary-color-light: #{mat.get-color-from-palette($custom-primary, 300)};
  --primary-color-dark: #{mat.get-color-from-palette($custom-primary, 800)};
  --accent-color: #{mat.get-color-from-palette($custom-accent, A200)};
  --accent-color-light: #{mat.get-color-from-palette($custom-accent, A100)};
  --accent-color-dark: #{mat.get-color-from-palette($custom-accent, A400)};
}
@include mat.core();
@include mat.all-component-themes($custom-theme);

